ul.accordion__list
	li.accordion__item
		.accordion__element
			.accordion__number
				| 1
			.accordion__title
				| Tutelare il valore del tuo patrimonio nel tempo preservando le relazioni familiari
			.accordion__arrow
		.accordion__content-wrapper.accordion__content-wrapper.clearfix
			.accordion__content.accordion__content--leftside
				h3.accordion__element-title
					|LE TUE DOMANDE
				span
					strong
						| Quale è il momento più opportuno per decidere come ripartire il patrimonio tra gli eredi?
				span
					strong
						| Quali sono le varie alternative che ho, che costi hanno e che implicazioni operative comportano?
				span
					strong
						| Come tutelo il valore del mio patrimonio e gli interessi futuri dei familiari in un contesto legislativo ed economico in evoluzione?
			.accordion__content.accordion__content--rightside
				h3.accordion__element-title
					|LE NOSTRE SOLUZIONI
				span
					strong
						| Il valore reale di un patrimonio è soggetto a tanti rischi 
					| collegati ad eventi familiari, aziendali, legislativi, economici che è importante conoscere e gestire con attenzione, ed in un’ottica preventiva, al fine di 
					strong
						| evitare che questi rischi comportino una riduzione del valore economico e/o la generazione di conflitti 
					| all’interno della tua famiglia o della tua impresa.
				span
					| Per fare questo il nostro approccio si traduce nella costruzione della migliore strategia per la gestione della
					strong
						| pianificazione successoria e del passaggio generazionale 
					|valutando tutti gli impatti di natura societaria, economica, organizzativa, fiscale.
				span
					| Per concretizzare questa strategia ti supportiamo nella scelta degli strumenti più adeguati, solidi ed inattaccabili: 
					strong
						| dai patti di famiglia ai trust, 
					| tanto per citare due esempi, e possiamo anche assumere direttamente 
					strong
						| il ruolo di trustee e di escrow agent 
					|per risolvere concretamente, e nella massima riservatezza, tutti gli aspetti operativi collegati alle tue scelte.
	li.accordion__item
		.accordion__element
			.accordion__number
				| 2
			.accordion__title
				| Affrontare operazioni immobiliari complesse in Italia ed all’estero
			.accordion__arrow
		.accordion__content-wrapper.clearfix
			.accordion__content--leftside
				h3.accordion__element-title
					|LE TUE DOMANDE
				span
					strong
						| Quale è il momento più opportuno per decidere come ripartire il patrimonio tra gli eredi?
				span
					strong
						| Quali sono le varie alternative che ho, che costi hanno e che implicazioni operative comportano?
				span
					strong
						| Come tutelo il valore del mio patrimonio e gli interessi futuri dei familiari in un contesto legislativo ed economico in evoluzione?
			.accordion__content--rightside
				h3.accordion__element-title
					|LE NOSTRE SOLUZIONI
				span
					strong
						| Il valore reale di un patrimonio è soggetto a tanti rischi 
					| collegati ad eventi familiari, aziendali, legislativi, economici che è importante conoscere e gestire con attenzione, ed in un’ottica preventiva, al fine di 
					strong
						| evitare che questi rischi comportino una riduzione del valore economico e/o la generazione di conflitti 
					| all’interno della tua famiglia o della tua impresa.
				span
					| Per fare questo il nostro approccio si traduce nella costruzione della migliore strategia per la gestione della
					strong
						| pianificazione successoria e del passaggio generazionale 
					|valutando tutti gli impatti di natura societaria, economica, organizzativa, fiscale.
				span
					| Per concretizzare questa strategia ti supportiamo nella scelta degli strumenti più adeguati, solidi ed inattaccabili: 
					strong
						| dai patti di famiglia ai trust, 
					| tanto per citare due esempi, e possiamo anche assumere direttamente 
					strong
						| il ruolo di trustee e di escrow agent 
					|per risolvere concretamente, e nella massima riservatezza, tutti gli aspetti operativi collegati alle tue scelte.
	li.accordion__item
		.accordion__element
			.accordion__number
				| 3
			.accordion__title
				| Costruire operazioni societarie innovative per lo sviluppo o il risanamento aziendale
			.accordion__arrow
		.accordion__content-wrapper.clearfix
			.accordion__content--leftside
				h3.accordion__element-title
					|LE TUE DOMANDE
				span
					strong
						| Quale è il momento più opportuno per decidere come ripartire il patrimonio tra gli eredi?
				span
					strong
						| Quali sono le varie alternative che ho, che costi hanno e che implicazioni operative comportano?
				span
					strong
						| Come tutelo il valore del mio patrimonio e gli interessi futuri dei familiari in un contesto legislativo ed economico in evoluzione?
			.accordion__content--rightside
				h3.accordion__element-title
					|LE NOSTRE SOLUZIONI
				span
					strong
						| Il valore reale di un patrimonio è soggetto a tanti rischi 
					| collegati ad eventi familiari, aziendali, legislativi, economici che è importante conoscere e gestire con attenzione, ed in un’ottica preventiva, al fine di 
					strong
						| evitare che questi rischi comportino una riduzione del valore economico e/o la generazione di conflitti 
					| all’interno della tua famiglia o della tua impresa.
				span
					| Per fare questo il nostro approccio si traduce nella costruzione della migliore strategia per la gestione della
					strong
						| pianificazione successoria e del passaggio generazionale 
					|valutando tutti gli impatti di natura societaria, economica, organizzativa, fiscale.
				span
					| Per concretizzare questa strategia ti supportiamo nella scelta degli strumenti più adeguati, solidi ed inattaccabili: 
					strong
						| dai patti di famiglia ai trust, 
					| tanto per citare due esempi, e possiamo anche assumere direttamente 
					strong
						| il ruolo di trustee e di escrow agent 
					|per risolvere concretamente, e nella massima riservatezza, tutti gli aspetti operativi collegati alle tue scelte.