.blockquote
	.blockquote__wrapper
		blockquote.blockquote__text
			span.blockquote__quote--open.blockquote__quote
				| “
			span.blockquote__body
				| Il futuro dipende da ciò che facciamo nel presente
			span.blockquote__quote--close.blockquote__quote
				| ”
		cite.blockquote__cite
			| (Gandhi)