form.contacts-form
	label.contacts-form__label.contacts-form__label--name
		input(class="contacts-form__input" type="text" placeholder="Nome")
	label.contacts-form__label.contacts-form__label--email
		input(class="contacts-form__input" type="text" placeholder="Email")
	label.contacts-form__label.contacts-form__label--name
		input(class="contacts-form__input" type="text" placeholder="Telefono")
	label.contacts-form__label.contacts-form__label--name
		textarea(class="contacts-form__input contacts-form__input--textarea" name="textarea" placeholder="Messagio")
	label.contacts-form__label.contacts-form__label--checkbox
		input(type="checkbox" class="contacts-form__input--checkbox")
		.contacts-form__checkbox-elem
		span.contacts-form__checkbox-text
			| Acconsento al trattamento dei dati
	button.contacts-form__button
		| INVIA