.page-wrapper
	.parallax__wrapper.parallax__wrapper--home
		div(class="parallax__img" data-parallax="scroll" data-image-src="commons/images/img-1.jpg")
		.parallax__text.parallax__text--left.parallax__text--home
			| Ti autiamo a prendere e gestirele decisioni importanti	
	section.section.section--our-commitment
		.section__wrapper.section__wrapper--our-commitment
			button.section__scroll-btn
			h2.section__title
				| Il nostro impegno
			.section__text.section--our-commitment__text
				span
					strong
						| Affiancarti nel costruire le migliori strategie per: 
				span
					strong
						| Tutelare il valore del tuo patrimonio nel tempo preservando le relazioni familiari Affrontare operazioni immobiliari complesse in Italia ed all’estero Costruire operazioni societarie innovative per lo sviluppo o il risanamento aziendale
				span
					| Prendere queste decisioni nel momento giusto, valutando con attenzione tutte le opzioni possibili e tutti i vincoli e gli impatti a livello legale, economico, fiscale, finanziario, contrattuale, organizzativo, relazionale, è sempre più importante e vincente in un contesto di grandi trasformazioni economiche e sociali.
				span 
					| Lavoriamo al tuo fianco, dandoti tutte le competenze e le esperienze multi disciplinari di cui hai bisogno, per costruire le soluzioni migliori
			include _mission
	.parallax__wrapper.easy-parallax#1
		.parallax__img-wrapper
			div(class="parallax__img" data-parallax="scroll" data-image-src="commons/images/img-2.jpg" )
		.parallax__text.parallax__text--right
			| Creiamo 10/10 di valore per essere al tuo fianco
	section.section.section--value
		.section__wrapper
			h2.section__title
				| Il nostro valore aggiunto
			.section--value__text.section__text
				| Il valore complessivo della nostra consulenza nasce dalla sintesi di 10 valori che guidano costantemente ogni nostro passo al tuo fianco e creano un ambiente sicuro per le tue decisioni importanti.
			include _clock
	.parallax__wrapper
		.parallax__img-wrapper#2
			div(class="parallax__img" data-parallax="scroll" data-image-src="commons/images/img-3.jpg")
		.parallax__text.parallax__text--left
			| Costruiamo strategie e soluzioni su misura dei tuoi bisogni
	section.section.section--solutions
		.section__wrapper
			h2.section__title
				| I tuoi bisogni, le nostre soluzioni
			.section__text
				span
					| Il nostro focus di lavoro è su 
					strong
						| tre tipologie di
					| bisogni che, nella nostra esperienza, rappresentano gli ambiti più importanti su cui ti potrai trovare a prendere delle decisioni importanti in futuro.
				span
					| Per ogni bisogno abbiamo costruito delle soluzioni specifiche accomunate da un approccio al lavoro fondato su una logica di 
					strong
						| prevenzione
					| e sulla capacita di 
					strong 
						|vedere contemporaneamente ogni questione da più punti di vista 
					| così da costruire una strategia davvero completa ed efficace.
			include _accordion
	.parallax__wrapper
		.parallax__img-wrapper#3
			div(class="parallax__img" data-parallax="scroll" data-image-src="commons/images/img-4.jpg")
		.parallax__text.parallax__text--right
			| Ti assicuriamo tutte le competenze di cui hai bisogno
	section.section.section--work-for-you
		.section__wrapper
			h2.section__title
				| Come lavoriamo con te e per te
			.section__text.section__text--work-for-you
				| Costruiamo un percorso assolutamente personalizzato in funzione delle tue esigenze. Gli elementi distintivi che assicuriamo in ogni progetto sono:
			include _project-elements
		include _blockquote
	.section.section--company
		.section__wrapper
			h2.section__title
				| Chi siamo
			include _experts
		.section__horizontal-line
		.section__wrapper
			h2.section__title
				| Chi siamo
			include _experts
	.section.section--network
		.section__wrapper
			h2.section__title
				| Il nostro network
			.section__text
				span
					| Per assicurare che tu abbia sempre a disposizione tutte le competenze specialistiche più opportune per i tuoi bisogni e problemi, i nostri professionisti lavorano a stretto contatto, sia con altri esperti di fiducia che tu stesso ci potrai segnalare, e sia con un network altamente qualificato che è in grado di garantire un supporto completo, su progetti nazionali ed internazionali, condividendo in pieno i valori di 10/10.
			include _network
	.parallax__wrapper.parallax__wrapper--contacts#4
		div(class="parallax__img" data-parallax="scroll" data-image-src="commons/images/img-5.jpg")
		.parallax__text.parallax__text--contacts
			| I tuoi bisogni e le tue scelte ci stanno a cuore
	.section.section--contacts
		.section__wrapper.section__wrapper--contacts.clearfix
			h2.section__title.section__title--black
				| Facciamo un po’ di strada insieme?
			.section__text.section__text--contacts
				h4
					|“Non esistono nodi impossibili da sciogliere, ma solo uomini frettolosi”.
				span
					| Il primo suggerimento per riuscire ad affrontare concretamente i problemi e le decisioni che ti stanno più a cuore, è di prenderti un po’ di tempo per parlarne con qualcuno di cui ti fidi e che abbia le competenze giuste per supportarti.
				span
					| Siamo pronti ad ascoltare con attenzione la tua situazione, le tue esigenze, i tuoi problemi, i tuoi progetti per capire se possiamo esserti utili e come possiamo farlo nella maniera migliore per te.
				span
					| Se ci contatti, attraverso il form o telefonicamente, potremo darti tutte le informazioni utili, presentarti in dettaglio le nostre soluzioni ed anche prenotare un primo colloquio conoscitivo, con uno dei nostri consulenti, per iniziare ad ascoltarti.
			include _contacts-form
