.mission.clearfix
	.mission__block--family.mission__block
		.mission__icon.mission__icon--family
		h3.mission__title
			| per te e la tua famiglia
	.mission__block--money.mission__block
		.mission__icon.mission__icon--money
		h3.mission__title
			|per il tuo patrimonio
	.mission__block--buisness.mission__block
		.mission__icon.mission__icon--buisness
		h3.mission__title
			|per la tua azienda