ul.project-elements__list
	li.project-elements__item
		h3.project-elements__title
			span.project-elements__number
				| 1 - 
			| Soluzioni dentro una strategia
		.project-elements__underline
		span.project-elements__text
			| Inseriamo ogni soluzione all’interno di una cornice strategica, che costruiamo insieme a te, a garanzia del fatto che quella soluzione rispetti sia le tue esigenze presenti che quelle prefigurabili nel medio-lungo periodo.
	li.project-elements__item
		h3.project-elements__title
			span.project-elements__number
				| 2 - 
			| Veniamo da te
		.project-elements__underline
		span.project-elements__text
			| Con i nostri consulenti ed il nostro network siamo in grado di portare, nella realtà in cui vivi ed operi, le competenze e le professionalità più idonee e qualificate di cui hai bisogno.
	li.project-elements__item
		h3.project-elements__title
			span.project-elements__number
				| 3 - 
			| Referente personale di fiducia
		.project-elements__underline
		span.project-elements__text
			| Potrai scegliere il tuo referente di fiducia, che ti seguirà lungo tutto il percorso, e sarà il primo garante della qualità del lavoro che svolgeremo insieme.
	li.project-elements__item
		h3.project-elements__title
			span.project-elements__number
				| 4 - 
			| Proposte chiare e modulari
		.project-elements__underline
		span.project-elements__text
			| Scomponiamo i problemi complessi in parti più piccole e ti facciamo proposte modulari fino ad arrivare alla soluzione finale permettendoti di valutare con chiarezza, e passo dopo passo, i risultati conseguiti.
	li.project-elements__item
		h3.project-elements__title
			span.project-elements__number
				| 5 - 
			| Approccio multidisciplinare
		.project-elements__underline
		span.project-elements__text
			| Analizziamo ogni problema complesso da prospettive diverse, partendo dal baricentro della competenza legale, e mettiamo in campo tutte le altre competenze specialistiche per averne una visione completa e realistica.
	li.project-elements__item
		h3.project-elements__title
			span.project-elements__number
				| 6 - 
			| Supporto internazionale
		.project-elements__underline
		span.project-elements__text
			| Ti assicuriamo un supporto diretto e completo per sviluppare relazioni, progetti e investimenti all’estero e coordiniamo tutti i rapporti e le attività necessarie per l’internazionalizzazio